﻿@model LanguageChat.Models.LanguageViewModel


<div class="row langWrap inner">
    <div class="col-sm-6">
        @using (Html.BeginForm("KnownLanguages", "Settings", FormMethod.Post, new { @class = "msform", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <p style="color:white;margin-left:15px">Language(s) you Know</p>
                <div class=""  style="margin-left:15px;">
                    @Html.DropDownListFor(m => m.LanguageId, new SelectList(Model.LanguageList, "Id", "Name"), "Select Language", new { @class = "dropdown" })
                    <button type="submit" class="btn btn-sm btn-success">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add
                    </button>
                </div>
            </div>
        }
        <div class="row">
            @Html.Action("ListKnownLanguages")
        </div>
    </div>


    <div class="col-sm-6">
        @using (Html.BeginForm("UnknownLanguages", "Settings", FormMethod.Post, new { @class = "msform", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <p style="color:white;margin-left:15px">Language(s) you want to learn</p>
                <div class="" style="margin-left:15px;">
                    @Html.DropDownListFor(m => m.LanguageId, new SelectList(Model.LanguageList, "Id", "Name"), "Select Language", new { @class = "dropdown" })
                    <input type="submit" class="btn btn-sm btn-success" value="Add user language" />
                </div>
            </div>
        }
        <div class="row">
            @Html.Action("ListUnknownLanguages")
        </div>
    </div>
</div>

<style>
    .tabDiv>table {
        color: white;
        border-radius:5px;
        border: 1px solid white;
    }

    .table-hover tbody tr:hover td {
        background: #778899;
    }
    .langWrap{
        margin-top:5%;
        border-radius:5px;
        color:white;
        margin-left:15px;
        background-color: #416182;
        padding-bottom:20px;
       
      
    }
    .deleteLink{
        color:white;
    }
    .colWidth{
        width:200px;
    }
    .form-control-inline {
   width: auto;
   float:left;
   margin-right: 5px;
}
    .langsList{
        margin-left:15px;
    }
    .inner{
        
    display: table;
    margin: 5% auto; 
    width:600px;
}
</style>