﻿@model IEnumerable<LanguageChat.Models.Language>

<div class="langsList">
    @foreach (var item in Model)
    {
        <div class="form-control-inline" style="width:150px">
            <i class="fa fa-language" aria-hidden="true"></i>
            @Html.DisplayFor(modelItem => item.Name)
        </div>
            <div class="form-control-inline">
                <i class="fa fa-times" aria-hidden="true" style="color:red"></i>@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "deleteLink" })
            </div>
            <br />
    }
</div>