﻿@model LanguageChat.Models.UserDetail

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="wrapper">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 divProfile">           
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="@Url.Action("UserPhotos", "Settings", new { id = Model.Id })" width="250" height="300" alt="" class="img-rounded  img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4 style="color:white">
                            @Model.User.UserName
                        </h4>
                        <small>
                            <cite title="@Model.Country">
                                <i class="fa fa-globe" aria-hidden="true"></i> <span class="bfh-countries" data-country="@Model.Country"></span> <i class="glyphicon glyphicon-map-marker">
                                </i>
                            </cite>
                        </small>
                        <p>
                            @if (Model.Sex == "Male")
                            {
                                <i class="fa fa-male" aria-hidden="true"></i> @Model.Sex
                            }
                            else
                            {
                                <i class="fa fa-female" aria-hidden="true"></i> @Model.Sex
                            }
                            <br />
                            <i class="fa fa-birthday-cake" aria-hidden="true"></i> @Model.Birthday  
                            <br />
                            <i class="fa fa-star-o" aria-hidden="true"></i> Rating: @Model.Vote
                            @{Html.RenderAction("Index", "Vote", new {id=Model.Id });}
                        </p>

                        <!-- Split button -->
                        <div class="btn-group">
                            <a class="btn btn-lg btn-primary startChat" data-toggle="chatWithFriend" title="Start chat with this user" data-trigger="hover" href="@Url.Action("Index", "Chat" , new { id=Model.Id })" aria-label="Chat" id="@Model.Id">
                                <i class="fa fa-commenting-o" aria-hidden="true"></i>
                            </a> 
                            <a class="btn btn-lg btn-primary" data-toggle="addFriend" title="Add user to list of friend" data-trigger="hover" href="@Url.Action("Index", "Friend" , new { id=Model.Id })" aria-label="Settings">
                                <i class="fa fa-users" aria-hidden="true"></i>
                            </a>   
                        </div>
                    </div>
                </div>
                <br />
                <div class="row" id="languages">
                    <div class="col-sm-6">
                        <p>Known Languages:</p>
                        <ul>
                            @foreach (var item in Model.UserDetailLanguages)
                            {
                                if (item.IsKnown == true)
                                {
                                    <li>@item.Language.Name</li>
                                }
                            }
                        </ul>
                        <p>Unknown Languages:</p>
                        <ul>
                            @foreach (var item in Model.UserDetailLanguages)
                            {
                                if (!item.IsKnown == true)
                                {
                                    <li>@item.Language.Name</li>
                                }
                            }
                        </ul>
                  
                    </div>
                    <div class="col-sm-6" id="about">
                        <p>About me:</p>
                        @Model.About
                    </div>
                </div>

        
        </div>
    </div>
</div>

<script src="~/Scripts/bootstrap-formhelpers.min.js"></script>

<style>
    .divProfile{
        padding:15px;
        margin: 0 auto;
        background-color:#40576E;
         border-radius: 10px;
         color:white;   
         width:100%;   
    }
    p{
        color:white;
    }

        .wrapper{
    padding: 70px;
    display: flex;    
    justify-content: center;
    align-items: center;
    }
        .popover-header{
             background: white;
             color:black;
        }
        .popover-content{ background: white; color:black;}
        .popover{background: white;color:black; }
        .popover-title{
    background: white;color:black;
}
</style>
<script>
    $(document).ready(function (e) {
            $('[data-toggle="addFriend"]').popover();
            $('[data-toggle="chatWithFriend"]').popover();

    });
    $('.startChat').click(function () {
        var ids = this.id;
        addNewPersonToList(ids)
    });

    function addNewPersonToList(id) {
        console.log("id: " + id);
        var chatHub = $.connection.chatHub;
        chatHub.server.addNewUserMessage(id);
    }

</script>