﻿@model LanguageChat.Models.UserDetail

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    

    @using (Html.BeginForm("UserInformation", "Settings", FormMethod.Post, new { @class = "msform", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="wrapper">
            <div class="userProfileWrapper">
            <div class="form-group form-inline row" id="fileCnt">
                    <img src="@Url.Action("UserPhotos", "Settings", new {id = Model.Id })" width="150" height="150" alt="" class="img-circle  img-responsive center-block" style="margin:0 auto"/>              
                @Html.Label("Select Avatar")
                <input class="center-block" type="file" name="UserPhoto" id="fileUpload" accept=".png, .jpg, .jpeg" style="margin:0 auto"/>
            </div>
            <div class="form-group form-inline row" required>
                @Html.LabelFor(m => m.Sex, new { @class = "col-md-2" })
                @Html.Label("Male: ")
                @Html.RadioButtonFor(m => m.Sex, "Male")
                @Html.Label("Female: ")
                @Html.RadioButtonFor(m => m.Sex, "Female")
            </div>


            <div class="form-group form-inline row">
                @Html.LabelFor(m => m.Country, new { @class = "col-md-2", required = "true" })
                <div class="bfh-selectbox bfh-countries col-md-6 countries" data-country="@Model.Country" data-flags="true" data-name="Country" name="Country" required>

                </div>
            </div>


            <div class="form-group form-inline row">
                @Html.LabelFor(m => m.Birthday, new { @class = "col-md-2" })               
                @Html.TextBoxFor(m => m.Birthday, "{0:dd/MM/yyyy}", new { @class = "txtInput col-md-2", id = "date", name = "date", required = "true"})
            </div>

            <div class="form-group form-inline row">
                @Html.LabelFor(m => m.About, new { @class = "col-md-2" })
                @Html.TextAreaFor(m => m.About, new { @class = "txtArea col-md-2", required = "true" })
            </div>
                <div class="form-group form-inline row">
                    @Html.Label("Rating", new { @class = "col-md-2" })
                    @Html.TextBoxFor(m => m.Vote, new { @class = "txtInput col-md-1", disabled = "disabled" })
                </div>
            <div class="form-group form-inline" style="text-align: center">
                <input type="submit" class="btn btn-success" value="Update" style="margin:0 auto"/>
            </div>

        </div>
            </div>

    }

<script src="~/Scripts/bootstrap-formhelpers.min.js"></script>

<script>
    $("#date").datepicker({
        yearRange: '1910:2010',
        changeMonth: true,
        changeYear: true,
        dateFormat: 'dd/mm/yy'
        });

    </script>

<style>
    .wrapper{
    padding: 70px;
    display: flex;    
    justify-content: center;
    align-items: center;
    color:white;
    }

    .userProfileWrapper{
     background-color: #416182;
       border-radius: 10px;
       width:40%;
       padding: 10px 10px 10px 20px;
    }

    input{display:inline-block}

    #fileCnt{
        text-align:center;
    }
    .txtInput{
        width:100px;
        border-radius:5px;
    }
    .txtArea{
        max-width:300px;
        border-radius:5px;
    }
    .countries{
        border-radius:5px;
        max-width:300px;
        height:30px;
        border: 1px solid black;
        background-color:white;
    }
    .countries>a{
        border:none;
    }
</style>