﻿@model LanguageChat.Models.TranslateViewModel
<div class="row form-inline translator">
    @using (Ajax.BeginForm("Index", "Translate", new AjaxOptions() { UpdateTargetId = "update", HttpMethod = "POST" }))
    {

        @Html.TextBoxFor(m => m.textToTranslate, new { @class = "translateTxtBox", placeholder = "Text To Translate" })
        @Html.DropDownListFor(m => m.fromLang, new SelectList(Model.LanguageList, "Id", "Name"), "Translate From", new { @class = "translateDropDown", id = "langFrom" })
        <button type="button" class="btn btn-sm btn-success switchLang" id="switchLang">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </button>
        @Html.DropDownListFor(m => m.toLang, new SelectList(Model.LanguageList, "Id", "Name"), "Translate To", new { @class = "translateDropDown", id = "langTo" })
        <span id="update"></span>
       
        <input type="submit" class="btn btn-sm btn-success switchLang" value="Translate" />

    }
    
</div>

<script>

    $('#switchLang').click(function () {
        var from = $('#langFrom').val();
        var fromName = $('#langFrom  :selected').text();
        var to = $('#langTo').val();
        var toName = $('#langTo  :selected').text();

        $('#langFrom').val(to);
        $('#langFrom  :selected').text(toName);

        $('#langTo').val(from);
        $('#langTo  :selected').text(fromName);
    });
</script>