﻿@model LanguageChat.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="login" id="loginid">
    <div class="login__form">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <font size="4" face="sans-serif" color="white">Create a new account.</font>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })


            <div class="login__row">
                <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
                    <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
                </svg>
                @Html.TextBoxFor(m => m.Email, new { @class = "login__input name", placeholder = "Email" })
                <span class="field-validation-valid text-danger" data-valmsg-for="Email" data-valmsg-replace="true"></span>
            </div>


            <div class="login__row">
                <svg class="login__icon pass svg-icon" viewBox="0 0 20 20">
                    <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" />
                </svg>
                @Html.PasswordFor(m => m.Password, new { @class = "login__input pass", placeholder = "Password" })
                <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
            </div>

            <div class="login__row">
                <svg class="login__icon pass svg-icon" viewBox="0 0 20 20">
                    <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" />
                </svg>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "login__input pass", placeholder = "Confirm Password" })
                <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
            </div>


            <input type="submit" class="login__submit" value="Register" />

                                                <button type="button" id="backtosignup" style="background-color:transparent;color:deepskyblue">back to login</button>





        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
