﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-social.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-formhelpers.min.css" rel="stylesheet" />
    @*<link href="~/Content/custom.css" rel="stylesheet" />*@
    <link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(" Language Chat!", "Index", "Home", new { area = "" }, new { @class = "navbar-brand fa fa-commenting-o fa-lg" })
            </div>

            <div class="navbar-collapse collapse">

                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="nav navbar-nav">
                        <li>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-cogs"></i> User Settings <span class="fa fa-chevron-down"></span></a>
                            <ul class="menuDrop dropdown-menu">
                                <li><a href="@Url.Action("UserInformation", "Settings")"><i class="fa fa-info"></i> User Information</a></li>
                                <li><a href="@Url.Action("Languages", "Settings")"><i class="fa fa-language"></i> Languages</a></li>
                            </ul>
                        </li>
                        <li><a href="@Url.Action("UserSearch", "Search")"><i class="fa fa-search"></i> Search</a></li>
                        <li><a href="@Url.Action("Index", "Chat")"><i class="fa fa-envelope-o"></i> Messages</a></li>
                        <li><a href="@Url.Action("FriendsList", "Friend")"><i class="fa fa-users"></i> Friends</a></li>
                    </ul>
                } 

                @Html.Partial("_LoginPartial")
            </div>

        </div>
    </div>
    <div class="bodyContainer">
        <div class="">
                @RenderBody()      
        </div>
    </div>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/bootstrap-multiselect.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/chatboxManager.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(document).ready(function () {
            $('.dropdown-toggle').dropdown();
        });
    </script>
</body>
</html>
<style>
    ul.menuDrop{
        background-color:black;     
    }
   .menuDrop li a{
        color:#FFFFFF;
    }
</style>