﻿

    <section id="header" class="header">
        <div class="container">
            <div class="row">
                <div class="intro-box">
                    <div class="intro">
                        <div class="cont">
                            <div class="demo">
                                    <div id="loginShow">
                                        @Html.Partial("~/Views/Account/Login.cshtml")
                                    </div>
                                    <div id="registerShow" hidden="hidden">
                                        @Html.Partial("~/Views/Account/Register.cshtml")
                                    </div>                      
                            </div>
                            <div class="next">
                                <button type="button" data-id="about" class="scroll-link login__submit">
                                    Check what we have for you !
                                </button>
                            </div>
                          
                        </div>                       
                        </div>

                    </div>
                </div>
            </div>        
    </section>

    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h2 class="">Find Friends !</h2>
                    <p>
                        With similar interests
                        <div>
                            <img src="~/Content/Images/SearchFriend.png" height="256" class="img-responsive" width="256"/>
                            <button type="button" data-id="purpose" class="scroll-link login__submit">
                                Read more...
                            </button>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="purpose" class="purpose section">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h2 class="">Chat with them!</h2>
                    <p>
                        <img src="~/Content/Images/chat.png" class="img-responsive center-block" />
                    </p>
                    <button type="button" data-id="trans" class="scroll-link login__submit">
                        Read more...
                    </button>
                </div>
            </div>
        </div>
    </section>


    <section id="trans" class="trans">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h2 class="">Use ream-time translate!</h2>
                    <p>
                        <img src="~/Content/Images/translate.png" class="img-responsive center-block"/>
                    </p>
                </div>
            </div>
        </div>
    </section>


    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p> LanguageExchange.com <span class="fa fa-heart"></span><a data-id="header" class="scroll-link" href="#"> - find friends and talk !</a></p>
                </div>
            </div>
        </div>
    </footer>


<script type="text/javascript">
        $(document).ready(function () {
            // navigation click actions
            $('.scroll-link').on('click', function (event) {
                event.preventDefault();
                var sectionID = $(this).attr("data-id");
                scrollToID('#' + sectionID, 750);
            });

            // scroll to top action
            $('.scroll-top').on('click', function (event) {
                event.preventDefault();
                $('html, body').animate({ scrollTop: 0 }, 'slow');
            });
            // mobile nav toggle
            $('#nav-toggle').on('click', function (event) {
                event.preventDefault();
                $('#main-nav').toggleClass("open");
            });
        });
        // scroll function
        function scrollToID(id, speed) {
            var offSet = 50;
            var targetOffset = $(id).offset().top - offSet;
            var mainNav = $('#main-nav');
            $('html,body').animate({ scrollTop: targetOffset }, speed);
            if (mainNav.hasClass("open")) {
                mainNav.css("height", "1px").removeClass("in").addClass("collapse");
                mainNav.removeClass("open");
            }
        }
        if (typeof console === "undefined") {
            console = {
                log: function () { }
            };
        }

        $("#signup").click(function () {
            $("#loginShow").toggle();
            $("#registerShow").toggle();
        });
        $("#backtosignup").click(function () {
            $("#loginShow").toggle();
            $("#registerShow").toggle();
        });
</script>