﻿@model IEnumerable<LanguageChat.Models.UserDetail>


@foreach (var item in Model)
{
    <div class="row searchRow">
        <div class="col-sm-2 searchAvatar">
            <img src="@Url.Action("UserPhotos", "Settings", new {id = item.Id })" width="100" height="100" class="imgC" />
        </div>

        <div class="col-sm-3 searchCol">
            <p style="font-size:11px"><b>Email: </b> @Html.DisplayFor(modelItem => item.User.Email) </p>
            <p style="font-size:11px"><b>Age: </b> @item.Age</p>
            <p style="font-size:11px"><b>Gender: </b> @Html.DisplayFor(modelItem => item.Sex) </p>
            <p style="font-size:11px"><b>Country: </b><span class="bfh-countries" data-country="@item.Country"></span></p>
        </div>

        <div class="col-sm-3 searchCol">
            <p style="font-size:14px"><b>About me :</b> @Html.DisplayFor(modelItem => item.About) </p>
        </div>

        <div class="col-sm-1 searchColButton">
            <div class="btn-group">
                <a class="resultItem btn btn-lg btn-primary" href="@Url.Action("Index", "Chat" , new {id= item.Id})" aria-label="Go to chat" id="@item.Id">
                    <i class="fa fa-commenting-o" aria-hidden="true"></i>
                </a>
                <a class="btn btn-lg btn-primary" href="@Url.Action("UserProfile", "Settings" , new { id=item.Id })" aria-label="Go to user profile">
                    <i class="fa fa-users" aria-hidden="true"></i>
                </a>
            </div>       
        </div>
    </div>
    <br/>
}
<script src="~/Scripts/bootstrap-formhelpers.min.js"></script>
<script>

    $('.resultItem').click(function () {
       var ids = this.id;
       addNewPersonToList(ids)       
    });

    function addNewPersonToList(id) {
        console.log("id: " + id);
        var chatHub = $.connection.chatHub;
            chatHub.server.addNewUserMessage(id);
    }

</script>
<style>
    .searchRow{
        background:rgba(74, 101, 126,1);
        display: table; 
        margin-bottom:2px;
        border-radius:5px;
         
    }
    .searchCol > p {
        color:white;
    }
    .searchColButton{
     border-left: 1px solid;
     text-align:center;
     display: table-cell;
     float: none;
     vertical-align: middle;
     padding-left: 10px;
    }

    .searchCol{
     display: table-cell;
     padding-top:10px;
    text-align: left;
    }

    .searchAvatar{
     white-space: nowrap;   
    text-align: center; margin: 1em 0;
    padding-left: 10px;
    }

    .imgC{
         vertical-align: middle;
    }

    .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
</style>