﻿@model LanguageChat.Models.UserSearchModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "UserSearch";
}
<div class="searchMainTheme">
    <div class="col-sm-2 settings" style="; text-align:center;">
        @using (Ajax.BeginForm("UserSearch", "Search", new AjaxOptions() { UpdateTargetId = "result", HttpMethod = "POST" }))
        {
            @Html.AntiForgeryToken()           
                <h3>Search Settings</h3>
                <div class="form-group form-inline row center-block">
                    @Html.Label("Gender: ")
                    @Html.LabelFor(x => x.Male)
                    @Html.CheckBoxFor(x => x.Male)
                    @Html.LabelFor(x => x.Female)
                    @Html.CheckBoxFor(x => x.Female)
                </div>

                <div class="form-group form-inline row center-block">
                    @Html.Label("Age: ")
                    @Html.DropDownListFor(m => m.AgeFrom, Enumerable.Range(0, 110).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }))
                    @Html.Label(" - ")
                    @Html.DropDownListFor(m => m.AgeTo, Enumerable.Range(0, 110).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }))
                </div>

                <div class="form-group form-inline row center-block" id="languages">
                    @Html.Label("Add language(s) ")
                    @Html.DropDownListFor(m => m.LanguageId, new SelectList(Model.LanguageList, "Id", "Name"), new { multiple = "multiple", id = "dropUp" })
                </div>

                <div class="form-group form-inline">
                    <button type="submit" class="btn btn-success btn-block">
                        <i class="fa fa-search" aria-hidden="true"></i> Search
                    </button>
                </div>
         
        }
    </div>

    <div id="result" class="col-sm-9 result">
    </div>

</div>

<style>
    .searchSettings{
              text-align: center;
              margin: 20px 0;
    }

    .settings{
        /*margin-top: 5%;*/
        padding-top:5%;
        background-color:#4a657e;  
        color:white;
        height:100vh;
    }
    .result{
        margin-top:5%;
        margin-left:10px;
      
    }
    .searchMainTheme{
        background-color:#82AED9;        
        height:100vh;
    }


}
    }

</style>

<script type="text/javascript">
    $(document).ready(function() {
        $('#dropUp').val(['1']).multiselect({
            enableFiltering: true,
            includeSelectAllOption: true,
            maxHeight: 400,
            allSelectedText: 'Select all'
        });
    });
</script>


