﻿@{
    ViewBag.Title = "Chat";
}
@ViewBag.AddUserId

    <div class="boxChat">
        <div class="col-sm-2 usersMessages btn-group-vertical" id="chat_box_Users">
            <div style="text-align:center;color:white">MESSAGES</div>
        </div>
        <div class="col-sm-9 userChat">
            @{Html.RenderAction("Index", "Translate"); }
            <div class="row discussion" id="discussion">
            </div>
            <div class="row sendRow form-inline">
                <input type="hidden" class="form-control" id="CurrentUser" value="@HttpContext.Current.User.Identity.Name">
                <input type="hidden" class="form-control" id="toUserId" placeholder="Who..." />
                <input type="text" class="btnMessage" id="message" placeholder="Enter Message....">
                <button type="button" class="btn btn-sm btn-success sendMessagebtn" id="sendmessage">Send</button>
            </div>
        </div>
    </div>


<style>
    element.style {
        padding-right: 0px;
    }

    .boxChat{        
        background-color:#4a657e;        
        height:100vh;
    }
    .usersMessages{
        padding-top:5%;
        background-color:#4a657e;  
        color:white;
        height:100vh;
    }
    
    .userChat {
        background-color:#4a657e;           
        min-height:95vh;
        display: block;
    }



    .btnMessage {
        width: 90%;
        border-radius: 5px;
        height: 60px;
        color: black;
    }

    .discussion {
        margin-top:3px;
        overflow: auto;
        color: white;
        height: 80vh;
        max-width: 1200px;
        /*border:1px solid white;*/
        border-radius: 5px;
        background-color: #3A506B;
    }


    .sendRow {       
        width: 100%;
        height: 60px;
        position: absolute;
        bottom: -webkit-calc(-7% + 35px);
        bottom: calc(-7% + 35px);
    }
    .sendMessagebtn{
        margin: 0px 0px 0px 0px;
        width:9%;
        height:60px;
    }
    
        .translator {
            margin-top:5%;      
        }
        .translateTxtBox{
            
            border: 1px solid black;
            border-radius:5px;
            width:25%;
            height:30px;
        }
        .translateDropDown{
            border: 1px solid black;
            border-radius:5px;
            height:30px;
        }
        .switchLang{
              height:30px;
        }
</style>

