﻿@model IEnumerable<LanguageChat.Models.ApplicationUser>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container headerFriends">
        <div class="col-sm-6">
        @Html.Label("List Of Friend", new {@class= "colUsrImg" })
            @foreach (var item in Model)
            {
                <div class="row">
                    <div class="col-sm-1 colUsrImg">
                        <img src="@Url.Action("UserPhotos", "Settings", new {id = item.Id })" width="50" height="50" alt="" class="img-rounded  img-responsive" />
                    </div>
                    <div class="col-sm-4">
                        @Html.ActionLink(item.UserName, "UserProfile","Settings",new {id = item.Id }, new {@class= "colUsrName", data_toggle = "goToUserProfile", data_placement = "top", title = "Show User Profile", data_trigger = "hover" })
                    </div>
                    <div class="col-sm-1">
                        <a class="btn btn-lg btn-danger" data-toggle="deleteUser" title="Delete User From List Of Friend" data-trigger="hover" href="@Url.Action("DeleteFriend", "Friend" , new { id=item.Id })" aria-label="Settings">
                            <i class="fa fa-minus" aria-hidden="true"></i><i class="fa fa-user" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            }
        </div>

        <div class="col-sm-6">
            @Html.Label("Confirm Friends Request", new { @class = "colUsrImg" })
            @{Html.RenderAction("RequestFriend", "Friend");}
        </div>
    </div>


<style>
    .friendsContainer{
        padding-top:70px;
    }
    .colUsrName{
        color:white;
    }
    .colUsrName:hover{
        color:aqua;
    }
    .colUsrImg{
       text-align:right;
       margin-left:50px;
    }
    .headerFriends{
        background-color: #416182;
        border-radius:5px;
         padding-top:70px;
         padding-bottom:30px;
        color:white;
        font-size:20px;
    }
        img{
        height:50px !important;
    }
</style>
<script>
    $(document).ready(function (e) {
            $('[data-toggle="notconfirm"]').popover();
            $('[data-toggle="confirm"]').popover();
            $('[data-toggle="goToUserProfile"]').popover();
            $('[data-toggle="deleteUser"]').popover();
    });
</script>