﻿@model IEnumerable<LanguageChat.Models.ApplicationUser>

@foreach (var item in Model)
            {
    <div class="row">
        <div class="col-sm-1 colUsrImg">
            <img src="@Url.Action("UserPhotos", "Settings", new {id = item.Id })" width="50" height="50" alt="" class="img-rounded  img-responsive"/>
        </div>
        <div class="col-sm-4 colUsrName">
            @Html.ActionLink(item.UserName, "UserProfile", "Settings", new { id = item.Id }, new { @class= "colUsrName", data_toggle = "goToUserProfile", data_placement = "top", title = "Show User Profile", data_trigger = "hover" })
        </div>
        <div class="col-sm-4 form-inline">
            <a class="btn btn-lg btn-success" data-toggle="confirm" title="Confirm Invite From User" data-trigger="hover" href="@Url.Action("ConfirmFriendRequest", "Friend" , new { id=item.Id })" aria-label="Settings">
                <i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-user" aria-hidden="true"></i>
            </a>
            <a class="btn btn-lg btn-danger" data-toggle="notconfirm" title="Not Confirm Invite From User" data-trigger="hover" href="@Url.Action("NonConfirmFriendRequest", "Friend" , new { id=item.Id })" aria-label="Settings">
                <i class="fa fa-minus" aria-hidden="true"></i><i class="fa fa-user" aria-hidden="true"></i>
            </a>      
        </div>
    </div>
}
